appdirs==1.4.3
astroid==2.2.5
attrs==19.1.0
black==19.3b0
CacheControl==0.12.5
cachy==0.2.0
certifi==2019.6.16
chardet==3.0.4
cleo==0.6.8
Click==7.0
colorama==0.4.1
defusedxml==0.6.0
Django==2.2.4
docopt==0.6.2
entrypoints==0.3
flake8==3.7.8
html5lib==1.0.1
idna==2.8
isort==4.3.21
jsonschema==3.0.2
lazy-object-proxy==1.4.1
lockfile==0.12.2
mccabe==0.6.1
msgpack==0.6.1
mypy==0.711
mypy-extensions==0.4.1
oauthlib==3.1.0
pastel==0.1.1
pipenv==2022.1.8
pkginfo==1.5.0.1
poetry==0.12.17
pycodestyle==2.5.0
pydocstyle==4.0.0
pyflakes==2.1.1
PyJWT==1.7.1
pylev==1.3.0
pylint==2.3.1
pyparsing==2.4.2
pyrsistent==0.14.11
python-slugify==1.2.6
python3-openid==3.1.0
pytz==2019.2
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.8.0
shellingham==1.3.1
six==1.11.0
snowballstemmer==1.9.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
sqlparse==0.3.0
toml==0.10.0
tomlkit==0.5.5
transifex-client==0.13.6
typed-ast==1.4.0
Unidecode==1.1.1
urllib3==1.23
virtualenv==16.6.1
virtualenv-clone==0.5.3
webencodings==0.5.1
wrapt==1.11.2
